@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;700&family=Nunito+Sans:wght@200&display=swap");

body {
  font-family: "Bodoni Moda", sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  /* width: 80%; */
  /* overflow: hidden; */
  /* margin: 0; */
}

/* .container {
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
} */

.box-panel {
  /* background-color: rgb(80, 78, 78); */
  /* width: 100%; */
  display: grid;
  grid-template-columns: 30% 70%;
  padding-bottom: 1em;
}

#logo {
  /* background-color: #0bca2b; */
  font-size: 31px;
  font-weight: 700;
  margin-top: 1em;
  margin-left: 2em;
  letter-spacing: 5px;
}

.nav {
  /* background-color: red; */
  font-size: 16px;
  font-weight: 500;
  margin-right: 2em;
  padding-right: 2em;
  text-align: right;
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  display: inline;
  padding-left: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

ul li:active {
  color: aqua;
}

ul li:hover {
  color: rgb(122, 38, 38);
}

.gallery {
  width: 100%;
  text-align: center;
}

.photo .photo-lightbox {
  position: relative;
  width: 295;
  height: 365;
  margin: 0px;
  display: -webkit-inline-flex;
}

.photo {
  position: relative;
  width: 295;
  height: 365;
  margin: 10px;
  background-color: blue;
  display: -webkit-inline-flex;
  opacity: 1;
  cursor: pointer;
}

.photo img {
  width: 100%;
  object-fit: cover;
  /* background-color: red; */
}

.img-overlay {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: 0;
  right: 0;
  background: rgba(122, 38, 38, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s, visibility 0.1s;
}

.photo:hover .img-overlay {
  visibility: visible;
  opacity: 1;
}

/* Transition animation between pages. */
.animate-in {
  -webkit-animation: fadeIn 0.5s ease-in;
  animation: fadeIn 0.5s ease-in;
}

.animate-out {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
